# pixi environments
.pixi/*
!.pixi/config.toml

iterator.mojo
lifetimes.mojo
tokenizer
testrun*
bugreport*
perf.data*
out.perf
out.folded
flamegraph*

main

claudebackwardsfiles/
logs/
models/
datasets/
